body {
	font-family: 'Roboto', sans-serif;
}

article {
	padding: 30px 0;
	min-height: 100vh;
}

.article-body {
	width: 60%;
	margin: 0 auto;
}

ul#menu-main-nav {
	font-size: 2rem;
	
}
ul#menu-main-nav li {
	float: left;
	padding: 1em;
}

article#post-5 {

	background: rgb(252, 219, 65);
}
article#post-7 {
	background: #8ED4CF;
	/*background: #44ABA6; */
}

.img-box img {
	max-width: 100%;
}