body {
	font-family: 'Roboto', sans-serif;
	overflow-y: scroll;
}

body.home article {
	padding: 30px 0;
	min-height: 100vh;
}

#header {
	position: fixed;
	top: 0;
	padding-top: 10px;
	width: 100vw;
	height: 90px;
	background: rgba(255, 255, 255, 0.8);
	z-index: 10;
}

#container {
	position: relative;
	top: 90px;
}



.article-body {
	width: 60%;
	margin: 0 auto;
}

ul#menu-main-nav {
	font-size: 2rem;
	
}
ul#menu-main-nav li {
	float: left;
	padding: 1em;
}

article#post-5 {

	background: rgb(252, 219, 65);
}
article#post-7 {
	background: #8ED4CF;
	/*background: #44ABA6; */
}

.img-box img {
	max-width: 100%;
}

/*********** FAQ *********************************/
ul.faq-nav {
	padding: 1rem;
}

/*********** RANDOM ******************************/
.hidden {
	display: hidden;
}