/*
hakwd colors:
100% Yellow #f9d94e
100% Blue #1d8fae
100% Grey #58595b

50% Yellow #fbe8a6
50% Blue #8cbed1
50% Grey #a7a9ac

*/

body {
	font-family: 'Roboto', sans-serif;
	overflow-y: scroll;
	color: #58595b;
}

body.home article {
	padding: 30px 0;
	min-height: 100vh;
}

a, a:visited {
	color: #58595b;
}

a:hover, a:active, a:focus {
	color: #1d8fae;
}

h1,h2,h3,h4,h5,h6 {
	color: #1d8fae;
}

#header {
	position: fixed;
	top: 0;
	padding-top: 10px;
	width: 100vw;
	background: rgba(255, 255, 255, 0.8);
	z-index: 10;
	overflow: auto;
}

#container {
	position: relative;
	top: 90px;
}

.article-body {
	width: 60%;
	margin: 0 auto;
}

ul#menu-main-nav {
	font-size: 2rem;
	
}
ul#menu-main-nav li {
	float: left;
	padding: 1em;
}

article#post-5 {

	background: #f9d94e;
}
article#post-7 {
	background: #8cbed1;
	/*background: #44ABA6; */
}

.img-box img {
	max-width: 100%;
}

/*********** FAQ *********************************/
ul.faq-nav {

}
.faq-nav li {
	margin-bottom: 1em;
}

.faq-nav a {
	font-weight: 500;
	font-size: 1.3em;
}

body.page-template-faq-page article {
}

.faq-arrow {
	font-size: 0.6em;
}

/*********** RANDOM ******************************/
.hidden {
	display: hidden;
}